
.header{
    display:flex;
    justify-content: center;
    align-Items:center;
    width:100%;
    position: fixed;
    box-shadow: 2px rgba(209, 209, 216, 0.5); 
    background-color: #ffffff;
    top: 0; 
    left: 0; 
    z-index: 100; 
    padding: 0%; 
}

   .home-link{
    text-decoration: none;
    color:rgba(23, 24, 59, 1) ;
}
.logo{
    margin: 0;
    padding: 0;
    margin-left:-200px;

}
.pages{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    margin-left:150px ;
}
.pages h4{
    padding: 0 5;
    margin: 10px;
}
.icons{
    flex-direction: row;
    display: flex;
    gap: 20px;
    margin-right: 0%;
    justify-content: center;
    align-items: center;
    font-size:larger;
    margin-left: 300px;
    margin-bottom: 40px;
}

.divider {
    width: 1px;
    height: 50px;
    background-color: #D1D1D8; 
    margin: 0 10px; 
    top:0;
}
@media only screen and (min-width: 768px) {
    .logo{
        margin: 0;
        padding: 0;
        margin-left:-200px;
    
    }
    .pages{
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        margin-left:120px ;
    }
    .pages h4{
        padding: 0 5;
        margin: 7px;
        font-size:small;
    }
    .icons{
        flex-direction: row;
        display: flex;
        gap: 20px;
        margin-right: 0%;
        justify-content: center;
        align-items: center;
        font-size:larger;
        margin-left: 50px;
        margin-bottom: 40px;
    }
    
    .divider {
        width: 1px;
        height: 50px;
        background-color: #D1D1D8; 
        margin: 0 10px; 
        top:0;
    }   
}
@media only screen and (max-width: 768px) {
    .logo{
       margin-left: 5%;
       font-size:small;
    }
    .pages {
        display: flex;
        margin: 0 5px;
    }
    .pages h4{
        font-size: x-small;
        margin: 5px;
    }
    .icons{
        display: flex;
        font-size: small;
        gap: 4px;
        margin-right: 5%;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 480px) {
    .header{
        height: 10%;
    }
    .logo{
        margin: 0;
        padding: 0;
        margin-left:-150px;
    
    }
    .pages{
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        margin-left:80px ;
    }
    .pages h4{
        padding: 0 3;
        margin: 3px;
        font-size: x-small;
    }
    .icons{
        flex-direction: row;
        display: flex;
        gap: 7px;
        margin-right: 0%;
        justify-content: center;
        align-items: center;
        font-size:small;
        margin-left: 10px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .header{
        height: 7%;
        display: flex;
        justify-content: space-around;
    }
    .logo{
        margin: 0;
        padding: 0;
        margin-left:-150px;
        font-size: x-small;
    
    }
    .pages{
        justify-content: center;
        display: flex;
        margin-left:40px ;
        gap:1px;
    }
    .pages h4{
        padding: 0 1;
        margin: 3px;
        font-size:5px;

    }
    .icons{
        flex-direction: row;
        display: flex;
        gap: 2px;
        justify-content: center;
        align-items: center;
        font-size:x-small;
        margin-left: -30px;
        margin-bottom: 40px;
    }
    
    .divider {
        width: 1px;
        height: 50px;
        background-color: #D1D1D8; 
        margin: 0 10px; 
        top:0;
    }}
    @media only screen and (min-width: 1024px) {
        .header{
            height: auto;
        }
        .logo{
            margin: 0;
            padding: 0;
            margin-right:-200px;
        
        }
        .pages{
            justify-content: center;
            display: flex;
            margin-right:10px ;
            gap:1px;
        }
        .pages h4{
            padding: 0 5;
            margin: 5px;
            font-size:15px;
    
        }
        .icons{
            flex-direction: row;
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            font-size:smaller;
            margin-right: -200px;
            margin-bottom: 40px;
        }
        
        .divider {
            width: 1px;
            height: 50px;
            background-color: #D1D1D8; 
            margin: 0 10px; 
            top:0;
        }}
    

@media only screen and (min-width: 600px) {
    .logo{
        margin: 0;
        padding: 0;
        margin-left:-170px;
    
    }
    .pages{
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        margin-left:150px ;
    }
    .pages h4{
        padding: 0 5;
        margin: 10px;
    }
    .icons{
        flex-direction: row;
        display: flex;
        gap: 20px;
        margin-right: 0%;
        justify-content: center;
        align-items: center;
        font-size:larger;
        margin-left: 100px;
        margin-bottom: 40px;
    }
}
@media only screen and (min-width: 1200px) {
    .logo{
        margin: 0;
        padding: 0;
        margin-left:-100px;
    
    }
    .pages{
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        margin-left:150px ;
    }
    .pages h4{
        padding: 0 5;
        margin: 10px;
    }
    .icons{
        flex-direction: row;
        display: flex;
        gap: 20px;
        margin-right: 0%;
        justify-content: center;
        align-items: center;
        font-size:larger;
        margin-left: 300px;
        margin-bottom: 40px;
    }
    
    .divider {
        width: 1px;
        height: 50px;
        background-color: #D1D1D8; 
        margin: 0 10px; 
        top:0;
    }
}
@media only screen and (min-width: 992px) {
    .logo{
        margin: 0;
        padding: 0;
        margin-left:-100px;
    
    }
    .pages{
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        margin-left:200px ;
    }
    .pages h4{
        padding: 0 5;
        margin: 10px;
    }
    .icons{
        flex-direction: row;
        display: flex;
        gap: 20px;
        margin-right: 0%;
        justify-content: center;
        align-items: center;
        font-size:larger;
        margin-left: 100px;
        margin-bottom: 40px;
    }
    
    .divider {
        width: 1px;
        height: 50px;
        background-color: #D1D1D8; 
        margin: 0 10px; 
        top:0;
    }
 
 
}